/* Lowongan */
.lowongan {
  background: white;
  color: var(--amikom-purple);
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
}

.lowongan hr {
    border-top: 2px solid var(--dark-bg);
    opacity: 100;
  }

.lowongan .card {
  border: 2px solid var(--dark-bg);
  border-radius: 25px; /* Radius sudut 25% */
  box-shadow: 4px 8px 16px rgba(0, 0, 0, 0.2); /* Bayangan */
}

.lowongan .card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  padding: 15px;
  border-radius: 30px;
}

.lowongan .card h2 {
  font-size: 24px;
  font-weight: bold;
}

.lowongan .card i {
  margin-right: 10px;
}

.lowongan .card p {
  font-size: 16px;
  font-weight: 500;
}

.lowongan .card a {
  color: var(--amikom-purple);
  font-size: 16px;
  text-decoration: none;
  font-weight: 600;
  transition: color 0.3s ease;
}

.lowongan a:hover {
  color: var(--amikom-orange);
}